@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua:400,700');


body{
	background: #66a5ad;
	margin: 0;
	text-align: center;
	color: #F1F1F2;
}

.content-wrapper{
	padding: 10px 0px;
}

/*-------------------------Updates-------------------------*/
#updates .content-wrapper{
	display: flex;
	flex-direction: row;
	height: 40px;
	width: 98%;
	margin-left: 1%;
	margin-top: 10px;
	background: #F1F1F2;
	color: #003b46;
	font-family: 'Oswald' ,sans-serif;
	border-radius: 30px;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	padding: 0px;
}

#updates-text{
	margin-left: 20px;
	margin-right: 15px;
	text-transform: uppercase;
}

#updates-info{
	border-radius: 30px;
}

.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
/*----------Marquee Code----------*/
.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/*---------------------------Title-------------------------*/

#title{
	background: #66a5ad;
  	background-size: 100%;
  	padding-top: 50px;
}
#title .content-wrapper{
	/*background: #ffe9ec url("img/titlebg.png") no-repeat;*/
}

#bcc-title1{
	font-family: 'Inknut Antiqua', serif;
	font-size: 250%;
	color: #1e434c;
	font-weight: 700;
}
#bcc-title2{
	font-family: 'Inknut Antiqua', serif;
	font-size: 150%;
	color: #1e434c;
	padding-top: 0;
	margin-top: -30px;
}

/*-------------------------Section1------------------------*/

#s1{
	background: #c4dfe6;
  	padding: 20% 0px;
  	border-radius: 3px 3px 12px 12px;
  	border-right: 5px solid #66a5ad;
	border-left: 5px solid #66a5ad;
}

#s1 .btn{
  border-radius: 9px;
  font-family: 'Oswald' ,sans-serif;
  color: #1e434c;
  font-size: 200%;
  padding: 7px 15px;
  border: solid #1e434c 2px;
  text-decoration: none;
  text-transform: uppercase;
}

#s1 .btn:hover{
  color: #E43A2B;
  border: solid #E43A2B 2px;
}

/*-------------------------Section2------------------------*/

#s2{
	background: #66a5ad;
	border-radius: 0px 0px 12px 12px;
}

#switch{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#btn-reg{
	grid-column: 2/2;
}

#btn-cont{
	grid-column: 3/3;
}

#card-reg{
	
}

#card-cont{
	display: none;
}

.sbtn{
  	border: none;
  	font-family: 'Oswald' ,sans-serif;
  	font-size: 150%;
}
.sbtn:hover{
  	color: #990033;
}

#card-reg h1, h1{
  	font-family: 'Oswald' ,sans-serif;
  	/*color: #0A3009;*/
  	font-size: 200%;
  	margin-bottom: 0;
}

#card-reg h2,#card-cont h2{
  	font-family: 'Oswald' ,sans-serif;
  	/*color: #0A3009;*/
  	font-size: 120%;
}

#card-reg form,#card-cont form{
  	font-family: 'Oswald' ,sans-serif;
  	/*color: #0A3009;*/
}

#card-reg input[type=text],#card-cont input[type=text]{
 	 background: #D6E9D5;
  	border: none;
  	border-radius: 5px;
  	color: #0A3009;
  	width:250px;
  	padding: 3px;
  	margin: 5px;
}
#card-reg input[type=submit] ,#card-reg input[type=reset],#card-cont input[type=submit] ,#card-cont input[type=reset]{
  	background: #D6E9D5;
  	color: #0A3009;
  	border: none;
  	padding: 5px 8px;
  	margin: 6px;
  	border-radius: 10px;
}

#card-reg textarea,#card-cont textarea{
  	background: #D6E9D5;
  	border: none;
  	border-radius: 5px;
  	color: #0A3009;
  	margin: 5px;
  	padding: 3px;
  	width:250px;
  	height:50px;
}

/*--------------------------Footer-------------------------*/

#footer{
	position: relative;
	color: #0A3009;
	background: #c4dfe6;
	padding: 10px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 70%;
	margin-top: -12px;
	padding-top: 18px;
	z-index: -1;
}


@media screen and (min-width: 768px) {
	#merge{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	#s1{
		border-radius: 0px 0px 0px 12px;
		border-right: 1.5px solid #66a5ad;
		border-left: 6px solid #66a5ad;
	}
	#s2{
		border-radius: 0px 0px 12px 0px;
		background: #c4dfe6;
		color: #1e434c;
		border-right: 6px solid #66a5ad;
		border-left: 1.5px solid #66a5ad;
	}
	#footer{
		background: #66a5ad;
		color: #F1F0CC;
	}
}
