@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 ,0, 0);
  font-size: 16px;
}

.updates{
  display: flex;
  flex-direction: row;
}

.u_title{
  border-radius: 15px;
  font-family: 'Oswald' ,sans-serif;
  color: #672E3B;
  background-color: #fff;
  font-size: 100%;
  padding: 7px 15px;
  border: solid #fff 2px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
  position: relative;
  z-index: 5;
}

.u_text{
  border-radius: 15px;
  font-family: 'Oswald' ,sans-serif;
  color: #005960;
  width: 67%;
  background-color: #fff;
  font-size: 100%;
  padding: 3px 8px;
  border: solid #fff 2px;
  text-decoration: none;
  position: relative;
  z-index: 4;
  padding-left: 20px;
  margin-left: -20px;

}

.s1{
  height: 75%;
  width: 100%;
  margin: auto;
  background: rgb(255, 240, 240);
  display: table;
  top: 0;
  background-size: cover;
  border-radius: 0px 0px 30px 30px;
  position: relative;
  z-index: 5;
  margin-top: -25px;
}

.s1 .inner,.s2 .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.content h1{
  font-family: 'Pacifico' ,cursive;
  color: #990033;
  /*text-shadow: 0px 0px 300px #000;*/
  font-size: 400%;
}

.s2{
  height: 30%;
  width: 100%;
  margin: auto;
  background: rgb(220, 240, 240);
  display: table;
  background-size: cover;
  border-radius: 0px 0px 30px 30px;
  position: relative;
  margin-top: -25px;
  z-index: 4;
}

.btn{
  border-radius: 9px;
  font-family: 'Oswald' ,sans-serif;
  color: #ffcc00;
  font-size: 200%;
  padding: 7px 15px;
  border: solid #ffcc00 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover{
  color: #990033;
  border: solid #990033 2px;
}

@media screen and (max-width: 768px) {
  body,html{
    width: 100%;
  }
}

/*@media screen and (max-width: 768px) {
  .content h1{
    font-size: 500%;
  }
  .btn{
    font-size: 200%;
    padding: 5px 10px;
  }
}*/
