@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 ,0, 0);
  font-size: 16px;
}

.inner .updates{
  display: flex;
  flex-direction: row;
  max-width: 98%;
  margin-left: 1%;
  margin-top: 5%;
}

.u_title{
  border-radius: 15px;
  font-family: 'Oswald' ,sans-serif;
  color: #672E3B;
  background-color: #fff;
  font-size: 110%;
  padding: 7px 15px;
  border: solid #fff 2px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 6;
}

.u_text{
  border-radius: 0px 15px 15px 0px;
  font-family: 'Oswald' ,sans-serif;
  color: #005960;
  width: 100%;
  padding: 7px 7px;
  background-color: #fff;
  font-size: 100%;
  border: solid #fff 2px;
  text-decoration: none;
  position: relative;
  z-index: 5;
  margin-left: -15px;
}

.bigbox{
  position: relative;
  height: 100%;
  width: 100%;
  display: table;
}

.s1.inner,.s2 .inner,.s3 .inner,.s4 .inner,.end .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.s1,.s2,.s3,.s4,.end{
  margin: auto;
  background-size: cover;
  display: table;
  position: relative;
  margin-top: -25px;
  border-radius: 0px 0px 30px 30px;
}

.s1{
  height: 50%;
  width: 100%;
  background: #ffe9ec url("img/titlebg.png") no-repeat;
  background-size: 100%;
  top: 0;
  margin-top: 0px;
  z-index: 999;
}

.content{
  vertical-align: middle;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.s3 .content{
  margin-top: 15px;
}

.content img{
  max-width: 100%;
}


.s2{
  height: 35%;
  width: 100%;
  background: #d6f3f9;
  background-size: cover;
  z-index: 5;
}

.s4,.s3{
  height: 70%;
  width: 100%;
  background: #50924F;
  margin-top: -25px;
  z-index: 3;
}

.s4{
  display: none;
}

.s3 h1,.s4 h1{
  font-family: 'Oswald' ,sans-serif;
  color: #0A3009;
  font-size: 200%;
  margin-bottom: 0;
}

.s3 h2,.s4 h2{
  font-family: 'Oswald' ,sans-serif;
  color: #0A3009;
  font-size: 120%;
}

.s3 form,.s4 form{
  font-family: 'Oswald' ,sans-serif;
  color: #0A3009;
}

.s3 input[type=text],.s4 input[type=text]{
  background: #D6E9D5;
  border: none;
  border-radius: 5px;
  color: #0A3009;
  width:250px;
  padding: 3px;
  margin: 5px;
}
.s3 input[type=submit] ,.s3 input[type=reset],.s4 input[type=submit] ,.s4 input[type=reset]{
  background: #D6E9D5;
  color: #0A3009;
  border: none;
  padding: 5px 8px;
  margin: 6px;
  border-radius: 10px;
}

.s3 textarea,.s4 textarea{
  background: #D6E9D5;
  border: none;
  border-radius: 5px;
  color: #0A3009;
  margin: 5px;
  padding: 3px;
  width:250px;
  height:50px;
}

.end{
  height: 10%;
  width: 100%;
  background: #672E3B;
  border-radius: 0px 0px 0px 0px;
  margin-top: -40px;
  z-index: -999;
}

.end .inner .content{
margin-top: 25px;
}

.content h6{
  margin-top: 40px;
  font-size: 60%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 50;
}

.s2 .btn{
  border-radius: 9px;
  font-family: 'Oswald' ,sans-serif;
  color: #2968B0;
  font-size: 200%;
  padding: 7px 15px;
  border: solid #2968B0 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.s2 .btn:hover{
  color: #E43A2B;
  border: solid #E43A2B 2px;
}

.btn{
  border-radius: 9px;
  font-family: 'Oswald' ,sans-serif;
  color: #ffcc00;
  font-size: 200%;
  padding: 7px 15px;
  border: solid #ffcc00 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover{
  color: #990033;
  border: solid #990033 2px;
}

.switch{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0%;
}

.switch .sbtn{
  border: none;
  font-family: 'Oswald' ,sans-serif;
  font-size: 150%;
}
.switch .sbtn:hover{
  color: #990033;
}

.register,.contact{
  padding-top: 25px;
  padding-bottom: 15px;
  height: 100%;
  width: 50%;
  margin-top: 0px;
  background-size: cover;
  text-align: center;
}

.register{
  background: #50924F;
}

.contact{
  background: rgb(125,125,0);
}

@media screen and (min-width: 768px) {
  .s1{
    background: #ffe9ec;
    margin-top: -25px;
  }
  .bigbox{
    display: flex;
    min-height: 450px;
    max-height: 65%;
  }
  .s2,.s3,.s4{
    min-height: 100%; 
    width: 100%;
    border-radius: 0px 0px 0px 30px;
  }
  .s3,.s4{
    border-radius: 0px 0px 30px 0px;
  }
  .s2 .button{
    font-size: 400%;
  }
  .switch{
    margin-top: 5%;
  }
  .end{
    margin-top: -45px;
  }
}


